@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-Black.woff2") format("woff2"); 
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-BlackItalic.woff2") format("woff2"); 
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-Bold.woff2") format("woff2"); 
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-BoldItalic.woff2") format("woff2"); 
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-ExtraBoldItalic.woff2") format("woff2"); 
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-ExtraBold.woff2") format("woff2"); 
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-ExtraLight.woff2") format("woff2"); 
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-Italic.woff2") format("woff2"); 
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-ExtraLightItalic.woff2") format("woff2"); 
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-Light.woff2") format("woff2"); 
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-Medium.woff2") format("woff2"); 
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-LightItalic.woff2") format("woff2"); 
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-MediumItalic.woff2") format("woff2"); 
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-SemiBoldItalic.woff2") format("woff2"); 
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-SemiBold.woff2") format("woff2"); 
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-Regular.woff2") format("woff2"); 
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-ThinItalic.woff2") format("woff2"); 
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("./FONTS/SofiaSans-Thin.woff2") format("woff2"); 
	font-weight: 100;
	font-style: normal;
}

