@import "mixins";


#close_reg, #logout{
  flex-direction: row-reverse;
}

.container{
  background-image: url("../MEDIA/Background.webp");
  width: 100%;
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.counter{
  position: absolute;
  display: none;
}
.main{
  display: grid;
  grid-template-columns: 1fr 780px;
  width: 100%;
  padding: var(--pd-screen);
}
.content{
  margin-top: 105px;
  width: 100%;
  &__title{
    font-weight: 700;
    font-size: 55px;
    line-height: 110%;
    color: var(--main-color);
  }
  &__subtitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: var(--main-color);
    max-width: 680px;
    margin-top: 35px;
  }
  &__form{
    margin-top: 80px;
    display: flex;
    gap: 10px;
  }
  &__label{
    display: flex;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 24px 55px;
    position: relative;
    &:has(.error):after{
      position: absolute;
      top: calc(50% - 14px);
      right: 22px;
      content: url(../MEDIA/SVG/stack/icons.svg#error);
      width: 28px;
      height: 28px;
    }
    &:has(.success):after{
      position: absolute;
      top: calc(50% - 14px);
      right: 22px;
      content: url("../MEDIA/SVG/stack/icons.svg#success");
      width: 28px;
      height: 28px;
    }
  }
  &__input{
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s, font-size 6000000s 0s;
    }
    &.success{
      color: var(--success);
    }
    &.error{
      color: var(--error);

    }
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    border-radius: 30px;
    color: var(--main-color);
    position: relative;
    &:focus{
      outline: none;
    }
    &::placeholder{
      font-weight: 500;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 130%;
      color: var(--main-color);
      opacity: 0.3;
    }
  }
  &__check{
    @include btn_md;
    & img{
      width: 30px;
      height: 30px;
    }
  }
}
.wheel{
  width: 544px;
  height: 544px;
  &__spin{
    @include btn_md;
    position: absolute;
    bottom: -120px;
    & img{
      width: 23px;
      height: 23px;
    }
  }
  &__container{
    position: absolute;
    top: 40px;
    right: 90px;
    display: flex;
    justify-content: center;
  }
  &__block{
    position: relative;
  }
  &__decoration{
    rotate: 93deg;
    right: -2px;
    width: 560px;
    height: 570px;
    position: absolute;
    top: -13px;
  }
  &__outer{
    rotate: 69deg;
    position: relative;
    &.active{
      @keyframes spin {
        0%{
          rotate: 69deg;
        }

        25%{
          rotate: 429deg;
        }

        50%{
          rotate: 789deg;
        }



        60%{
          rotate: 901deg;
        }

        70%{
          rotate: 1035deg;
        }

        80%{
          rotate: 1081deg;
        }

        90%{
          rotate: 1119deg;
        }

        100%{
          rotate: 1149deg;
        }
      }
      animation: spin 6500ms linear;

    }
  }
  &__center{
    position: absolute;
    top: calc(50% - 44px);
    right: calc(50% - 44px);
    width: 88px;
    height: 88px;
  }
  &__prize{
    height: 70px;
    width: 70px;
    bottom: 94px;
    right: calc(50% - 38px);
    position: absolute;
  }
}
.counter{
  display: flex;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 96px 111px rgba(94, 19, 19, 0.05), 0 48.6px 48.3891px rgba(94, 19, 19, 0.03375), 0 19.2px 18.0375px rgba(94, 19, 19, 0.025), 0 4.2px 6.41719px rgba(94, 19, 19, 0.01625);
  border-radius: 30px;
  flex-direction: column;
  padding: 30px;
  left: -170px;
  top: -10px;
  align-items: center;
  z-index: 40;
  &__inner{
    margin-top: 10px;
    display: flex;
  }
  &__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: var(--main-color);
  }
  &__info{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: var(--main-color);
    opacity: 0.8;
  }
  &__number{
    font-weight: 600;
    font-size: 60px;
    line-height: 110%;
    color: var(--main-color);
    opacity: 0.3;
    transition: all ease 0.6s;
    &.active{
      opacity: 0.8;
    }
    &:hover{
      scale: 0.85;
    }
  }
}

.content__mobile{
  display: none;
}