:root{
  --btn_grad:98.29deg, #F487A8 44.19%, #F6ABA4 96.21%;
  --btn_hover_grad:98.29deg, #F487A8 -19.81%, #F6ABA4 130.21%;
  --main-color:#76363E;
  --container: 1600px;
  --pd-screen: 0 calc((100% - var(--container)) / 2);
  --link-color: #E46087;
  --error: #E43D3D;
  --success:#96CD5E;
}
@mixin button{
  background: linear-gradient(var(--btn_grad));
  border-radius: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  color: #F8F3F3;
  transition: 0.5s all ease-in-out;
  &:hover{
    background: linear-gradient(var(--btn_hover_grad));
    scale: 0.95;
    border-radius: 37px;
  }
  & img{
    width: 30px;
  }
}
@mixin btn_lg{
  @include button;
  min-width: 350px;
  gap: 12px;
  padding: 28px 38px;
  display: flex;
  align-items: center;
}
@mixin btn_md{
  @include button;
  min-width: 310px;
  gap: 10px;
  padding: 26px 36px;
  display: flex;
  align-items: center;
  &:disabled{
    background: #ddcce6;
  }
  @media screen and (max-width: 1648px){
    min-width: 280px;
    gap: 10px;
    padding: 26px 24px;
  }
}
@mixin btn_cabinet{
  @include button;
  min-width: 270px;
  border: #FA8C8C 2px solid;
  padding: 26px 36px;
  background: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--main-color);
  &:hover{
    background: #FA8C8C;
    color: white;
    scale: 1.1;
  }

  @media screen and (max-width: 1416px){
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      transition: .5s all ease-in-out;
      min-width: 220px;
      border: #fa8c8c 2px solid;
      padding: 21px 16px;
      background: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .5px;
      color: var(--main-color);

  }
  @media screen and (max-width: 1416px){
    min-width: 0;
  }
}

@mixin cabinet_input{
  padding: 26px 40px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-color);
  background: #FFFFFF;
  border: 2px solid #FA8C8C;
  border-radius: 29px;
  &:focus{
    outline: none;
  }
  &::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-color);
    opacity: 0.3;
  }
  &.error{
    color: var(--error);
  }
}


@media screen and (max-width: 1648px){
  :root{
    --container: 1380px;
  }

}

@media screen and (max-width: 1416px){
  :root{
    --container: 970px;
  }
}

@media screen and (max-width: 1000px){
  :root{
    --container: 395px;
  }
}
