@import "mixins";

.cabinet_label{
  background-color: white;
}

@media screen and (max-width: 1648px){
  .content__title{
    font-size: 44px;
  }

  .content__label {
    display: flex;
    background: #fff;
    border-radius: 30px;
    padding: 24px 45px;
    position: relative;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 670px;
    width: 100%;
    padding: var(--pd-screen);
  }

  .content {
    margin-top: 75px;
    width: 100%;
  }

  .counter {
    display: flex;
    position: absolute;
    background: #fff;
    box-shadow: 0 96px 111px rgba(94,19,19,.05),0 48.6px 48.3891px rgba(94,19,19,.03375),0 19.2px 18.0375px rgba(94,19,19,.025),0 4.2px 6.41719px rgba(94,19,19,.01625);
    border-radius: 30px;
    flex-direction: column;
    padding: 20px;
    left: -50px;
    top: -10px;
    align-items: center;
    z-index: 40;
  }
  .wheel__container {
    position: absolute;
    top: 20px;
    right: 60px;
    display: flex;
    justify-content: center;
  }
  .footer__contacts {
    margin-top: 220px;
  }

  .content__form {
    margin-top: 60px;
    display: flex;
    gap: 10px;
  }

  .content__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: var(--main-color);
    max-width: 680px;
    margin-top: 25px;
  }


}

@media screen and (max-width: 1416px){
.main{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: var(--pd-screen);
}


  .content__title {
    font-size: 44px;
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
  }

  .content__subtitle {
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    line-height: 140%;
    color: var(--main-color);
    max-width: 680px;
    margin: 25px auto 0 auto;
  }

  .content__form {
    margin-top: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .content__check {
    width: 32%;
    min-width: 280px;
    gap: 10px;
    padding: 26px 24px;
  }

  .content__label {
    display: flex;
    background: #fff;
    border-radius: 30px;
    padding: 24px 45px;
    position: relative;
    width: 32%;
  }

  .wheel__block {
    position: relative;
    display: flex;
    margin-top: 60px;
    height: 560px;
    width: 100%;
    justify-content: center;
  }

  .wheel__container {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  .counter {
    display: flex;
    position: absolute;
    background: #fff;
    box-shadow: 0 96px 111px rgba(94,19,19,.05),0 48.6px 48.3891px rgba(94,19,19,.03375),0 19.2px 18.0375px rgba(94,19,19,.025),0 4.2px 6.41719px rgba(94,19,19,.01625);
    border-radius: 30px;
    flex-direction: column;
    padding: 20px;
    left: -30px;
    top: 10px;
    align-items: center;
    z-index: 40;
  }
  .counter__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: var(--main-color);
  }
  .counter__inner {
     margin-top: 5px;
     display: flex;
   }
  .counter__info {
      font-weight: 600;
      font-size: 21px;
      line-height: 80%;
      letter-spacing: -0.01em;
      color: var(--main-color);
    }
  .counter__number {
       font-weight: 600;
       font-size: 50px;
       line-height: 120%;
       color: var(--main-color);
       opacity: .3;
       transition: all ease .6s;
     }


  .footer__contacts {
    margin-top: 190px;
    max-width: 1200px;
    display: flex;
    gap: 5px;
    padding: 35px 50px;
    align-items: center;
    background: #f4e4ff;
    border-radius: 30px 30px 0 0;
  }

  .footer__title {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
    font-size: 28px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--main-color);
  }

}

@media screen and (max-width: 1000px){
  .content__title {
    font-size: 28px;
    text-align: center;
    margin: 0;
    max-width: 100%;
  }

  .content {
    margin-top: 45px;
    width: 100%;
  }
  .nav {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    padding: 0 8px;
    align-items: center;
    height: fit-content;
  }

  .nav .authorization__img {
    width: 70px;
    opacity: .4;
    cursor: pointer;
    height: 29px;
  }


  .nav .authorization {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 100%;
    width: fit-content;
  }

  .nav .authorization__profile_name {
    font-style: normal;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    line-height: 90%;
    opacity: .8;
  }

  .nav .authorization__profile {
    display: flex;
    align-items: center;
    height: 100%;
    width: min-content;
    gap: 0;
    text-transform: capitalize;
    flex-direction: row-reverse;
  }

  .nav .authorization {
    display: flex;
    gap: 0;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }

  .content__subtitle {
    font-weight: 500;
    text-align: center;
    font-size: 21px;
    line-height: 130%;
    color: var(--main-color);
    max-width: 680px;
    margin: 20px auto 0 auto;
  }

  .content__form {
    margin-top: 40px;
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
  }

  .content__label {
    display: flex;
    background: #fff;
    border-radius: 30px;
    padding: 24px 45px;
    position: relative;
    width: 100%;
  }

  .content__check {
    width: 100%;
    min-width: 250px;
    gap: 10px;
    padding: 26px 24px;
  }








  .wheel {
    width: 370px;
    height: 370px;
  }

  .wheel__outer {
    width: fit-content;
    height: fit-content;
  }

  .wheel__container {
    height: fit-content;
  }

  .wheel__center {
    position: absolute;
    top: calc(50% - 27px);
    right: calc(50% - 30px);
    width: 52px;
    height: 52px;
  }

  .wheel__prize {
    height: 46px;
    width: 46px;
    bottom: 76px;
    right: calc(50% - 26px);
    position: absolute;
  }

  .wheel__decoration {
    rotate: 93deg;
    right: -3px;
    width: 380px;
    height: 386px;
    position: absolute;
    top: -7px;
  }

  .container {
    background-size: 100% 170%;
    background-position-y: -180%;
    background-repeat-y: repeat;
    background-image: url("../MEDIA/Background_mobile.webp");
  }
  .counter {
    display: flex;
    position: absolute;
    background: #fff;
    box-shadow: 0 96px 111px rgba(94,19,19,.05),0 48.6px 48.3891px rgba(94,19,19,.03375),0 19.2px 18.0375px rgba(94,19,19,.025),0 4.2px 6.41719px rgba(94,19,19,.01625);
    border-radius: 30px;
    flex-direction: column;
    padding: 10px;
    left: -10px;
    top: -10px;
    align-items: center;
    z-index: 40;
  }

  .footer__contacts {
    margin-top: 25px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 35px;
    padding: 50px 40px;
    align-items: center;
    background: #f4e4ff;
    border-radius: 30px 30px 0 0;
    flex-direction: column;
  }

  .footer__container {
    display: flex;
    height: 100%;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
  }

  .footer__title {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    max-width: 240px;
    font-size: 22px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--main-color);
  }


  .footer .social__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    max-width: 190px;
    letter-spacing: -0.01em;
    color: var(--main-color);
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 12px;
  }

  .counter__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--main-color);
  }

  .counter__inner {
    margin-top: -4px;
    display: flex;
  }
  .counter__info {
    margin-top: -5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 70%;
    letter-spacing: -0.02em;
    color: var(--main-color);
  }
  .counter__number {
    font-weight: 500;
    font-size: 45px;
    line-height: 130%;
    color: var(--main-color);
    opacity: .3;
    transition: all ease .6s;
  }

  .data_inner {
    display: flex;
    grid-template-rows: 1fr;
    column-gap: 0;
    row-gap: 20px;
    width: 100%;
    grid-template-columns: 2fr 3fr;
    margin-top: 50px;
    flex-direction: column;
  }

  .data_sticky {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: static;
    gap: 20px;
  }

  .data_balance, .data_wheel {
    align-items: center;
    padding: 20px;
  }




  #cabinet {
    width: 100%;
  }

  #cabinet_user,#cabinet_register,#cabinet_login  {
    padding: 0 16px 20px 16px;
  }


  #list_of_items {
    width: 100%;
    background: #f4e4ff;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  #profile_name {
    font-weight: 700;
    font-size: 28px;
    line-height: 95%;
    letter-spacing: -0.01em;
    color: var(--main-color);
  }

  #profile_img {
    width: 55px;
    height: 55px;
  }

  .data_wheel_value #wheel {
    font-family: "Alegreya Sans SC",sans-serif;
    font-weight: 400;
    font-size: 105px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--main-color);
  }

  .data_balance_value #balance {
    font-family: "Alegreya Sans SC",sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--main-color);
  }

  .data_balance_value {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    gap: 12px;
    font-family: "Comfortaa",cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--main-color);
    opacity: .7;
  }





  #cabinet_login .title {
    letter-spacing: -0.02em;
    color: var(--main-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
  }


  .cabinet_buttons {
    display: flex;
    width: 100%;
    min-height: 85px;
    align-items: center;
  }


  #cabinet_login .description {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: var(--main-color);
    margin-top: 20px;
    max-width: 290px;
    letter-spacing: -0.03em;
  }

  #cabinet_login.active {
    display: flex;
    align-items: center;
  }

  #cabinet_login #login_form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
    width: 100%;
    max-width: 640px;
  }

  #cabinet_login .goto_register span {
    margin-top: 100px;
  }

  #cabinet_login .goto_register {
    display: flex;
    margin-top: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: var(--main-color);
    letter-spacing: -0.03em;
  }


  #cabinet_login .decoration {
    position: absolute;
    width: 410px;
    height: 500px;
    top: 190px;
    z-index: -1;
    right: unset;
  }


  #cabinet_register .decoration {
    position: absolute;
    width: 320px;
    height: 390px;
    bottom: 0;
    z-index: -1;
    right: -20px;
  }

  #cabinet_register .title {
    margin-top: 30px;
    letter-spacing: -0.01em;
    color: var(--main-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
  }

  #cabinet_register .description {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: var(--main-color);
    margin-top: 20px;
    max-width: 410px;
    letter-spacing: -0.03em;
  }

  #cabinet_register #register_form {
    margin-top: 40px;
  }

  .content__mobile{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    flex-direction: column;
    border-radius: 15px;
    backdrop-filter: blur(16.5px);
    background-color: rgb(253 242 255 / 62%);
    &>button{
      width: 100%;
      border-radius: 12px;
      background: #fff;
      padding: 18px 15px;
      color: #ad0e3e;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 111%;
      font-family: "Sofia Sans",sans-serif;
      letter-spacing: 0.42px;
      position: relative;
      &:after{
        top: calc(50% - 7px);
        width: 14px;
        z-index: 20;
        right: 12px;
        height: 14px;
        position: absolute;
        content: url('../MEDIA/SVG/stack/icons.svg#btn_arrow');
      }
    }
    &>div{
      &.active{display: flex;     justify-content: center;}
      display: none;
      padding: 20px 30px;
      text-align: center;
      &>p{
        color: #5C2128;
        text-align: center;
        font-size: 16px;
        text-wrap: nowrap;
        line-height: 140%;
        letter-spacing: -0.14px;
        font-family: "Sofia Sans", sans-serif;
      }
    }
  }

  .content__subtitle{
    display: none;
  }
}


@media screen and (max-width: 765px){
  .counter {
    left: 0;
    top: 0;
  }
}
